@reference 'tailwindcss';
@plugin "daisyui" { themes: light --default, dark --prefersdark; }

.auth-form {
    @apply bg-base-100 p-5 min-w-[350px] w-[50vw] max-h-[100vh] flex flex-col overflow-y-auto
}